@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}

body {
  background: hsl(212, 45%, 89%);
}

.card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: hsl(0, 0%, 100%);
  width: 300px;
  border-radius: 10px;
  text-align: center;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  img {
    width: 270px;
    border-radius: 10px;
  }

  .card_info {
    margin-bottom: 10px;
    margin-top: 20px;

    h2 {
      color: hsl(218, 44%, 22%);
      font-size: 22px;
      line-height: 28px;
    }

    p {
      margin-top: 10px;
      color: hsl(220, 15%, 55%);
    }
  }
}
